.footer
	.container
		.footer__row
			.footer__block
				.footer__text Like what you're reading? Get weekly updates that will help you grow as a designer.
				form.footer__form
					input.footer__input(type="text" placeholder="name")
					input.footer__input(type="text" placeholder="email") 
				a.btn.footer__btn SUbscribe