block vars
	-var headerName = '';

.header
	.container
		.header__title
			.header__logo Marcy..
			.header__name= headerName
		.header__hamburger
			span
			span
			span
		nav.header-nav
			ul.header-nav__list
				li.header-nav__item 
					a(href="#").header-nav__link item 1
				li.header-nav__item 
					a(href="#").header-nav__link item 2
				li.header-nav__item 
					a(href="#").header-nav__link item 3
				li.header-nav__item 
					a(href="#").header-nav__link item 4
				li.header-nav__item 
					a(href="#").header-nav__link item 5
				li.header-nav__item 
					a(href="#").header-nav__link item 6
